$primary-color: #587ebf;
$primary-color-light: #7e96bf;
$primary-color-dark: #405373;
$color-warning: #f0ad4e;
$color-warning-light: #f0cd6e;
$color-danger: #d9534f;
$color-danger-light: #d9736f;
$dark: rgb(41, 43, 44);
$light: rgb(247, 247, 247);
