$primary-color: #017a87;
$primary-color-light: #30909b;
$primary-color-dark: #014c54;
$color-warning: #f7a400;
$color-warning-light: #f9bf4b;
$color-danger: #d9534f;
$color-danger-light: #d9736f;
$dark: rgb(41, 43, 44);
$light: rgb(247, 247, 247);
