@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import './variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  height: 100vh;
}

.btn {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

.btn-primary {
  background-color: $primary-color;
  color: whitesmoke;
}

.btn-light {
  background-color: $light;
  color: $dark;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}
