@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import './variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  height: 100vh;
}

.container {
  display: flex;
}

.spinner-container {
  position: relative;
  height: 200px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-color;
  color: whitesmoke;

  &:hover {
    background-color: $primary-color-light;
  }
}

.btn-warning {
  background-color: $color-warning;
  color: whitesmoke;

  &:hover {
    background-color: $color-warning-light;
  }
}

.btn-danger {
  background-color: $color-danger;
  color: whitesmoke;

  &:hover {
    background-color: $color-danger-light;
  }
}

.btn-light {
  background-color: $light;
  color: $dark;

  &:hover {
    background-color: #ddd;
  }
}

.btn-outline-light {
  border: 2px solid $light;
  background-color: $primary-color;
  color: $light;
}

.btn.disabled {
  background-color: #777;
  cursor: default;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}

.link {
  text-decoration: none;
  color: $light;
}

.label-input-error {
  color: red !important;
}

.input-error {
  border: 1px solid red !important;

  &:focus {
    outline: 1px solid red;
  }
}

.offscreen {
  display: none;
}

.instructions {
  color: #777;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.info-icon {
  font-size: 0.75rem !important;
  margin-right: 0.5rem;
  color: $primary-color-light;
}

.mt-4 {
  margin-top: 1rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.py-4 {
  padding: 1rem 0;
}

.pt-4 {
  padding-top: 1rem;
}
