@import '../../variables';

.user-detail {
  flex: 4;
  padding: 2rem;
  color: $dark;
}

.user-detail-title {
  color: $primary-color-dark;
  font-size: 1.5rem;
}

.user-detail-form {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

  & .btn {
    margin-top: 1rem;
  }
}

.user-detail-form-wrapper {
  display: flex;
  flex-direction: column;
  & label {
    color: #555;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  & input {
    height: 1.75rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  & select {
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
