@import '../../../variables';

.calon-petugas-detail {
  flex: 4;
  padding: 2rem;
  color: $dark;
}

.calon-petugas-detail-title {
  color: $primary-color-dark;
  font-size: 1.5rem;
}

.calon-petugas-detail-content {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

  & h3 {
    color: $color-warning;
  }
}

.calon-petugas-detail-wrapper:not(:first-child) {
  margin-top: 2rem;
}

.calon-petugas-detail-question {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.calon-petugas-detail-answer {
  margin-top: 0.25rem;
  font-weight: 600;
  color: $primary-color-light;
}
