@import '../../variables';

.staff {
  flex: 4;
  padding: 2rem;
  color: $dark;
  overflow-x: auto;
}

.staff__title {
  color: $primary-color-dark;
}

.staff__content {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
