@import '../../variables';

.navbar {
  width: 100%;
  background-color: $primary-color;
  z-index: 99;
  position: sticky;
  color: white;
  top: 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.navbar-wrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-warning;

  &__white {
    color: white;
  }
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 0.325rem;
}
